.grid-table {
	width: 1000px;
	display: grid;
	grid-template-columns: 108px 1fr 56px 75px 56px 56px 56px 56px 56px 56px 56px 56px 56px 56px 56px 56px;
	grid-template-rows: repeat(auto-fill, auto);
}

.grid-table>.row{
	display: contents;
}

.grid-table>.row input[type="text"] {
  text-align: right;
  /* 幅をいっぱいに広げてはみ出ないようにする↓ */
  width: 100%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  /* 幅をいっぱいに広げてはみ出ないようにする↑ */
  /* 枠線を消す↓ */
  outline: 0;
  border: 0px;
  background: transparent;
  /* 枠線を消す↑ */
}

.grid-table>.row input[type="button"] {
  /* 幅をいっぱいに広げてはみ出ないようにする↓ */
  width: 100%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  /* 幅をいっぱいに広げてはみ出ないようにする↑ */
  text-align: center;
  padding: 0px;
}

div {
  border: 1px solid #000000;
  padding: 0px;
  margin: 0px 0px 0px 0px;
}
