html, body {
    padding: 0px;
    border: 0px;
    font-size: 0px;
}

div.acmenu {
  margin: 2em 0;
  padding: 0;
  font-size: 16px;
  background:#ffffaa;
}

div.acmenu label{
  display: block;
  margin: 1.5px 0;
  padding: 11px 12px;
  color: #fff;
  background-color: #111;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.5s;
}

div.acmenu label:hover {
  background :#222;
}

div.acmenu input {
  display :none;
}

div.acmenu a:hover {
  background :#222;
}

div.acmenu a{
  display: block;
  margin: 1.5px 0;
  padding: 11px 12px;
  color: #fff;
  background-color: #111;
  font-weight: bold;
  text-decoration: none;
}

.acmenu .acshow {
  height: 0;
  padding: 0;
  overflow: hidden;
  opacity: 0;
  transition: 0.8s;
}

  .cssac:checked + .acshow {
    height: auto;
    /*padding: 5px;*/
    background: #ffa;
    color: #fff;
    font-weight: bold;
    opacity: 1;
  }

    div.acshow a{
      display: block;
      margin: 1.5px 0;
      padding: 11px 20px;
      color: #fff;
      background-color: #333;
      font-weight: bold;
      text-decoration: none;
    }

    div.acshow a:hover{
      background-color: #444;
    }

    div.acshow p{
      display: block;
      margin: 1.5px 0;
      padding: 11px 20px;
      color: #fff;
      background-color: #333;
      font-weight: bold;
      text-decoration: none;
    }

    div.acshow p:hover{
      background-color: #444;
    }
