


.box {
  border: solid 2px red;
  box-sizing: border-box;

  text-align: center;
  line-height: 100px;
  font-weight: bold;
  font-size: 60px;
  background: #aaffff
}

  .head {
    border: solid 1px #ff0000;
    box-sizing: border-box;
    float: left;
    background: #ffaaaa;
    width: 100%;  /** 横幅100% **/
    text-align: center;
  }

  .leftmenu {
    border: solid 1px #ffff00;
    box-sizing: border-box;
    float: left;
    width: 20%;  /** 横幅33% **/
    background: #ffffaa;
    text-align: left;
  }

 .contents{
    border: solid 1px #ffff00;
    box-sizing: border-box;
    float: left;
    width: 65%;  /** 横幅33% **/
    background: #ffffaa;
    text-align: left;
  }

  .info {
    border: solid 1px #ffff00;
    box-sizing: border-box;
    float: left;
    width: 15%;  /** 横幅33% **/
    background: #ffffaa;
    text-align: left;
  }

  .fotter {
    border: solid 1px #444444;
    box-sizing: border-box;
    float: left;
    background: #aaaaaa;
    width: 100%;  /** 横幅100% **/
    text-align: right;
  }
