

table {
  table-layout: fixed;
  border-collapse: collapse;
  border-spacing: 0;
  word-wrap: break-word;
  padding: 0px;
}

table, td, th {
  border: 1px #000000 solid;
  padding: 0px;
  margin: 0px;
}

tr {
  margin: 0px;
  padding: 0px;
}

input {
  margin: 0px;
  padding: 0px;
}

.store-plan {
  width: 1024px;
}

.store-plan .store-width {
  width: 108px;
}

.store-plan .store-align {
  text-align: left;
}


.store-plan input[type="text"] {
  width: 54px;
  text-align: right;
}

.store-plan input[type="button"] {
  width: 54px;
  text-align: center;
}

.store-plan caption {
  text-align: left;  
}

